/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo de la página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #010101;
}

/* Encabezado */
header {
    text-align: center;
    padding: 20px;
}

header h1{
    font-family:'Times New Roman', Times, serif ;
    font-size: 1rem;
    color: #ffd000;
}

header h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.categories button {
    background: #e0e0e0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 7px;
}

.categories button:hover {
    background: #d0d0d0;
}

/* Tarjetas de Artículo */
.TravelLife {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.card img {
    width: 200%;
    height: auto;
}

.card .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 5px;
}

.card h2 {
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
}

